
<%- include('partials/header'); -%>

<!-- profile image -->
<div class="about">
<img src="puppy.jpg" class="about-profile-image">







<div class="about-list">
  <ul class="about-title">
    <li>Dog Lover</li>
    <li>Bookworm</li>
    <li>Walking Enthusiast</li>
    <li>Amateur Backpacker</li>
    <li>Language Learner | Speaks English, Japanese, Korean | Learning Spanish</li>
  </ul>
</div>
 <div class="about-list">
<p>
  also
</p>
<h2 class="about-webdeveloper">Web Developer</h2>
<p class="about-content">Stella Lee is an Interactive Developer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus vitae aliquet nec ullamcorper sit. Velit dignissim sodales ut eu sem integer vitae justo eget. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Arcu cursus euismod quis viverra nibh cras pulvinar mattis. In cursus turpis massa tincidunt. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Nisl condimentum id venenatis a condimentum. Pharetra et ultrices neque ornare aenean euismod elementum. Commodo odio aenean sed adipiscing. In arcu cursus euismod quis viverra nibh. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget nullam. Euismod elementum nisi quis eleifend quam adipiscing.</p>
 </div>
 <div class="about-list">
<h4>Say Hi!</h4>
<p class="contact-content">I am always open to new opportunities.
</p>
<div class="social-icons contact-content">
<a href="https://github.com/Jestella" class="social-icon fab fa-github" target="_blank"></a>
<a href="https://linkedin.com/in/jestellaa" class="social-icon fab fa-linkedin-in" target="_blank"></a>
<a href="https://instagram.com/tech.jes" class="social-icon fab fa-instagram" target="_blank"></a>
<a href="mailto:je.stella.lee@gmail.com" class="social-icon fas fa-envelope" target="_blank"></a>
</div>
<p>Stella Lee<br>Toronto, Canada</p>
</div>
</div>
<%- include('partials/footer'); -%>
