
<%- include('partials/header'); -%>

<!-- profile image -->
<div class="about pagetop">
 <div class="about-list1">
<h2 class="about-webdeveloper"><span class="underline">Web Developer</span></h2>
<p class="about-content1">Stella Lee is an <span class="about-span">Interactive Web Developer</span> who is also interested in design. She was born and raised in Korea, studied and worked in Japan, and moved to Canada to find a better opportunity. Her linguistic ability and diverse background in areas including marketing, translation, education, and hospitality have built her unique identity as a web developer. She does not just code, communicate and interact effectively with her clients and teams. She loves working with new people, learning new skills, and exploring the world.
</p>
<p class="about-content2">Does she sound like a developer you would like to work with?
  <br>Then scroll down to contact me.
   </p>
 </div>

<hr class="line1">

 <div class="about-list2">
<h3>Say Hi!</h3>
<h6 class="contact-content">New projects or freelance inquiry.
</h6>
<div class="social-icons contact-content">
<a href="https://github.com/Jestella" class="social-icon fab fa-github" target="_blank"></a>
<a href="https://linkedin.com/in/jestellaa" class="social-icon fab fa-linkedin-in" target="_blank"></a>
<a href="https://instagram.com/tech.jes" class="social-icon fab fa-instagram" target="_blank"></a>
<a href="mailto:je.stella.lee@gmail.com" class="social-icon fas fa-envelope" target="_blank"></a>
</div>
<p contact-content>Stella Lee <br>Toronto, Canada</p>

<hr class="line1">
</div>
</div>
<%- include('partials/footer'); -%>
