
<%- include('partials/header'); -%>
  <h1 class="title pagetop">Compose</h1>
  <form class="compose-form" action="/compose" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" name="postTitle">
      <label for="exampleInputPassword1">Post</label>
      <textarea name="postBody" class="form-control" rows="15" cols="50"></textarea>
    <label for="select-category" name="postCategory">Category</label>
    <select class="custom-select postCategory" id="category" required>
      <option value>Choose...</option>
      <option class="postCategory">a</option>
      <option class="postCategory">b</option>
      <option class="postCategory">c</option>
      <option class="postCategory">d</option>
      <option class="postCategory">no category</option>
    </select>
    <div class="invalid-feedback">Please select a valid category.
    </div>
      <label for="example-date-input" class="col-form-label">Date</label>
    <input type="date" class="form-control" name="postDate" required>
  </div>

    <button type="submit" class="btn btn-dark">Publish</button>
  </form>



<%- include('partials/footer'); -%>
