
<%- include('partials/header'); -%>


<!-- The video -->
<section id="video">

<video autoplay muted loop id="bg-video">
  <source src="https://assets.mixkit.co/videos/preview/mixkit-black-ink-floating-against-a-white-background-8487-large.mp4" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<div class="video-header">
  <h1 class="text-main1">STELLA<br><span class="jieun">JIEUN</span>LEE</h1>
  <h1 class="text-main2">FRONT END DEVELOPER BASED IN TORONTO</h1>
  <!-- Use a button to pause/play the video with JavaScript -->
</div>
</section>




<!-- Portfolio -->


<section id="home_portfolio">
  <div class="portfolio_box">
  <h2 class="section-title home-portfolio-text">+ portfolio area +</h2>
  <p class="home_portfolio_text">coming soon</p>
  </div>
</section>
<!-- Blog -->

<section id="home_blog">
  <h2 class="section-title home-blog-text">+ top blog posts +</h2>

  <div class="row home-blog-box">
  <div class="blog-box box1 col-lg-4">
    <h3> blog title 1</h3>
    <p>description</p>
    <a href="/blog" class="btn home-readmore-btn">Read more</a>
    </div>
  <div class="blog-box box2 col-lg-4">
    <h3> blog title 2</h3>
    <p>description</p>
    <a href="/blog" class="btn home-readmore-btn">Read more</a>
    </div>
  <div class="blog-box box3 col-lg-4">
    <h3> blog title 3</h3>
    <p>description</p>
    <a href="/blog" class="btn home-readmore-btn">Read more</a>
      </div>
</div>
</section>




<%- include('partials/footer'); -%>
