
<%- include('partials/header'); -%>


<!-- Video -->
<section id="video">
<video autoplay muted loop id="bg-video">
  <source src="https://assets.mixkit.co/videos/preview/mixkit-black-ink-floating-against-a-white-background-8487-large.mp4" type="video/mp4">
</video>


<!-- Overlay text -->
<div class="main_header" id="homeBox">
  <h1 class="main_title">BLOG,<br>STORY</h1>
  <h1 class="main_description">WHERE MY WEB DEVELOPMENT JOURNEY BEGINS</h1>
</div>
</section>


<!-- Portfolio -->
<section id="home-portfolio">

  <h1 class="section-title home-toptitle">prologue</h1>
<div class="prologue row">
  <div class="prologue_1">
    <img src="css/images/prologue_img1.jpg" class="prologue-img">
    <div class="prologue-title">
    <h4>HOW I STUDIED</h4>
    <h6>4 Online Courses I Recommend</h6>
      </div>
    <ul class="prologue-ul">
      <li class="prologue-li">HTML / CSS <a href="#" class="course-link udemy">udemy</a></li>
      <li class="prologue-li">JavaScript <a href="#" class="course-link udemy">udemy</a></li>
      <li class="prologue-li">Python <a href="#" class="course-link coursera">coursera</a></li>
      <li class="prologue-li">Design Fundamentals <a href="#" class="course-link udemy">udemy</a></li>
    </ul>
  </div>

  <div class="prologue2">
    <img src="css/images/prologue_img2.jpg" class="prologue-img">
  <div class="prologue-title">
    <h4>BEFORE YOU START LEARNING</h4>
    <h6>5 Tips for New Developers</h6>
    </div>
    <ul class="prologue-ul">
      <li class="prologue-li">Have your reason, and remember it.</li>
      <li class="prologue-li">Break down problems into smaller ones</li>
      <li class="prologue-li">Embrace the cycle of learning</li>
      <li class="prologue-li">Focus on the fundamentals first</li>
    </ul>
  </div>
</div>
</section>


<!-- Blog -->
<section id="home-blog">
  <h1 class="section-title home-toptitle">new posts</h1>
  <div class="row">
  <div class="card-box col-lg-4 col-md-6">
    <h2 class="home-blog-title">Design thinking</h2>
    <p class="home-blog-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa enim nec dui nunc mattis. Lorem donec massa sapien faucibus et molestie ac feugiat sed. Diam phasellus vestibulum lorem sed risus. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Dolor purus non enim praesent elementum facilisis. Aliquam vestibulum morbi blandit cursus risus. Velit dignissim sodales ut eu sem integeo. Habitant morbi tristique senectus senvesd sfe et netus et malesuada fames ac. Et sollicitudin ac orci phasellus egestas. Proin fermentum leo vel orci...</p>
    <a href="/blog" class="btn home-readmore-btn">Read more</a>
    </div>
  <div class="card-box col-lg-4 col-md-6">
    <h2 class="home-blog-title">CSS grid</h2>
    <p class="home-blog-content">Massa nec is. Lorem donec massa sapien faucibus et molestie ac feugiat sed. Diam phasellus vestibulum lorem sed risus. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Dolor purus non enim praesent elementum facilisis. Aliquam vestibulum morbi blandit cursus risus. Velit dignissim sodales ut eu sem integer vitae justo. Nisl vel pretium lectus quam id. Sed id semper risus in hendrerit gravida. Morbi tristique senectus et netus et. Velit euismod in pellentesque masscerat. Habitant morbi tristique senectus et netus et malesuada fames ac. Et sollicitudin ac orci phasellus egestas. Proin fermentum leo vel orci...</p>
    <a href="/blog" class="btn home-readmore-btn">Read more</a>
    </div>
  <div class="card-box col-lg-4 col-md-6">
    <h2 class="home-blog-title">What is DOM?</h2>
    <p class="home-blog-content">Lorem dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa enim nec dui nunc mattis. Lorem donec massa sapien faucibus et molestie ac feugiat sed. Diam phasellus vestibulum lorem sed risus. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Dolor purus non enim praesent elementum facilisis. Aliquam vestibulum morbi blandit cursus risus. Velit dignissim sodales ut eu sem integer vitae justo. Nisl vel pretiumm id. Sed id semper risus in hendrerit gravida. Morbi tristique senectus et netus et. Velit euismod in pellentesque massa placerat. Proin fermentum leo vel orci...</p>
    <a href="/blog" class="btn home-readmore-btn">Read more</a>
      </div>
</div>
</section>



<%- include('partials/footer'); -%>
