
<%- include('partials/header'); -%>


<!-- The video -->
<section id="video">

<video autoplay muted loop id="bg-video">
  <source src="https://assets.mixkit.co/videos/preview/mixkit-black-ink-floating-against-a-white-background-8487-large.mp4" type="video/mp4">
</video>




<!-- Optional: some overlay text to describe the video -->
<div class="video-header" id="homeBox">
  <h1 class="text-main1">STELLA<br><span class="jieun">JIEUN</span>LEE</h1>
  <h1 class="text-main2">INTERACTIVE FRONT-END DEVELOPER BASED IN TORONTO</h1>
  <!-- Use a button to pause/play the video with JavaScript -->
</div>
</section>



<!-- Portfolio -->

<section id="home-portfolio">
  <div class="portfolio-box">
  <h2 class="section-title home-portfolio-text white-text">+ portfolio +</h2>
  <p class="home-portfolio-text white-text">coming soon</p>
  </div>
</section>



<!-- Blog -->

<section id="home-blog">
  <h2 class="section-title home-blog-top">+ blog posts +</h2>

  <div class="row">
  <div class="card-box col-lg-4 col-md-6">
    <h2 class="home-blog-title"> blog title 1</h2>
    <p class="home-blog-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa enim nec dui nunc mattis. Lorem donec massa sapien faucibus et molestie ac feugiat sed. Diam phasellus vestibulum lorem sed risus. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Dolor purus non enim praesent elementum facilisis. Aliquam vestibulum morbi blandit cursus risus. Velit dignissim sodales ut eu sem integeo. Habitant morbi tristique senectus senvesd sfe et netus et malesuada fames ac. Et sollicitudin ac orci phasellus egestas. Proin fermentum leo vel orci...</p>
    <a href="/blog" class="btn home-readmore-btn">Read more</a>
    </div>
  <div class="card-box col-lg-4 col-md-6">
    <h2 class="home-blog-title"> blog title 2</h2>
    <p class="home-blog-content">Massa nec is. Lorem donec massa sapien faucibus et molestie ac feugiat sed. Diam phasellus vestibulum lorem sed risus. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Dolor purus non enim praesent elementum facilisis. Aliquam vestibulum morbi blandit cursus risus. Velit dignissim sodales ut eu sem integer vitae justo. Nisl vel pretium lectus quam id. Sed id semper risus in hendrerit gravida. Morbi tristique senectus et netus et. Velit euismod in pellentesque masscerat. Habitant morbi tristique senectus et netus et malesuada fames ac. Et sollicitudin ac orci phasellus egestas. Proin fermentum leo vel orci...</p>
    <a href="/blog" class="btn home-readmore-btn">Read more</a>
    </div>
  <div class="card-box col-lg-4 col-md-6">
    <h2 class="home-blog-title"> blog title 3</h2>
    <p class="home-blog-content">Lorem dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa enim nec dui nunc mattis. Lorem donec massa sapien faucibus et molestie ac feugiat sed. Diam phasellus vestibulum lorem sed risus. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Dolor purus non enim praesent elementum facilisis. Aliquam vestibulum morbi blandit cursus risus. Velit dignissim sodales ut eu sem integer vitae justo. Nisl vel pretiumm id. Sed id semper risus in hendrerit gravida. Morbi tristique senectus et netus et. Velit euismod in pellentesque massa placerat. Proin fermentum leo vel orci...</p>
    <a href="/blog" class="btn home-readmore-btn">Read more</a>
      </div>
</div>
</section>




<%- include('partials/footer'); -%>
