
<%- include('partials/header'); -%>
<div id="work">
<h1 class="title">Portfolio</h1>
<p class="title-work"><%= startingContent %></p>





<div class="portfolio work1">
<h5 class="white-text">+ COMING SOON +</h5>
</div>
<div class="portfolio work2">
<h5 class="black-text">+ COMING SOON +</h5>
</div>
</div>



<%- include('partials/footer'); -%>
