
<%- include('partials/header'); -%>
<<<<<<< HEAD
<div class="page-top">
<h1 class="page-header">WORK | PROJECT</h1>
<h6><%= startingContent %></h6>
</div>

<div class="work work1">
=======
<div id="work">
<h1 class="page_header">WORK | PROJECT</h1>
<h6><%= startingContent %></h6>


<div class="portfolio work1">
<p>+ COMING SOON +</p>
</div>

<div class="portfolio work2">
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
<p>+ COMING SOON +</p>
</div>

<div class="work work2">
<p>+ COMING SOON +</p>
</div>



<%- include('partials/footer'); -%>
