
<%- include('partials/header'); -%>
<div class="page-top">
<h1 class="page-header">WORK | PROJECT</h1>
<h6><%= startingContent %></h6>
</div>

<div class="work work1">
<p>+ COMING SOON +</p>
</div>

<div class="work work2">
<p>+ COMING SOON +</p>
</div>



<%- include('partials/footer'); -%>
