
<%- include('partials/header'); -%>
<div id="work">
<h1 class="title pagetop">WORK | PROJECT</h1>
<p class="work-title"><%= startingContent %></p>





<div class="portfolio work1">
<p class="white-text">+ COMING SOON +</p>
</div>
<div class="portfolio work2">
<p class="black-text">+ COMING SOON +</p>
</div>
</div>



<%- include('partials/footer'); -%>
