<<<<<<< HEAD
:root {
  --grey_light: #ebebeb;
  --grey: #6e6d6d;
  --grey_dark: #373a40;
  --black_light: #262626;
  --green_light: #bdd2b6;
  --green_dark: #adeecf;
  --yellow: #fddb3a;
  --beige_light: #f0e2d0;
  --beight_dark: #aa8976;
=======
/* color
pink-purple: #F3EAE6 #ffb4b4 #ff8e71
grey: #ebebeb  #6e6d6d  #373a40 #262626
green:  #d9e4dd #adeecf #8ad7c1 #51c2d5 #214252
yellow: #fddb3a
brown: #f0e2d0 #aa8976
*/
:root {
  --black: #262626,

>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
}

/* font
font-family: 'Noto Sans KR', sans-serif; 400, 500, 700
font-family: 'Open Sans', sans-serif; 400, 400i, 600, 600i
font-family: 'Playfair Display', serif; 500, 600, 700
*/

<<<<<<< HEAD
.navbar-brand, .main-description, .page-title {
=======
/* font-family: 'Open Sans', sans-serif; */
.navbar-brand, .main_description, h1 {
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

<<<<<<< HEAD
=======
.main_title,
.about-webdeveloper {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
.section-title {
font-family: 'Playfair Display', serif;
}

<<<<<<< HEAD
.main-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}


=======
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  height: 100vh;
  text-align: center;
  font-size: 13px;
}

body ::selection {
  color: var(--yellow);
  background: #000;
}

a {
  color: inherit;
}

.container-fluid {
  padding: 2% 6%;
}

/* text-align | left */
.blog-post,
.compose-form,
.home-blog-content {
  text-align: left;
}

<<<<<<< HEAD
.page-top {
  padding: 3rem 0;
}

=======
.page_header {
  color: #373a40;
  padding: 3% 0;
}

a {
  color: inherit;
}

>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a

/*************** Header ***************/

/* Navbar */
.logo_img {
  width: 2rem;
  height: 2rem;
}

.navbar-brand {
  font-size: .85rem;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  letter-spacing: 1.5px;
  padding: 0 0 6%;
  font-size: .8rem;
}


/* search bar */
.searchbar-container {
    max-width: 600px;
}

.searchbar {
    position: relative;
    min-width: 35px;
    width:0;
    height: 35px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbar-input {
    top: 0;
    right: 0;
    border: 0;
    margin: 0;
    outline: none;
    background-color:transparent;
    font-size: .85rem;
    width: 100%;
    height: 100%;
    padding: 0 60px 0 0;
}

.searchbar-input::-webkit-input-placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  color: var(--grey);
  opacity: .6;
}

.searchbar-input:-moz-placeholder {
    color: #fff;
}

.searchbar-input::-moz-placeholder {
    color: #fff;
}

.searchbar-input:-ms-input-placeholder {
    color: #fff;
}

.searchbar-icon,
.searchbar-submit {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    right: -1rem;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 35px;
    font-size: .85rem;
<<<<<<< HEAD
    color: var(--black_light);
=======
    color: #262626;
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
    background-color:transparent;
}

.searchbar-open {
    width: 100%
}


/*************** Home Section1 Main ***************/

#video {
  position: relative;
  width: 100%;
  height: 100vh;
}

#bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

<<<<<<< HEAD
.main-header {
=======
.main_header {
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
  padding: 6% 0 4%;
  position: inherit;
}

<<<<<<< HEAD
.main-title {
  font-size: 11rem;
  background-color: #fff;
  background-image: radial-gradient( circle farthest-corner at 10% 20%, #f0e2d0 0%, #a3d2ca 100.7% );
=======
.title {
  font-size: 2.5rem;
}

.main_title {
  font-size: 11rem;
    /* Fallback: Set a background color. */
  background-color: #fff;
    /* Create the gradient. */
  background-image: radial-gradient( circle farthest-corner at 10% 20%, #f0e2d0 0%, #a3d2ca 100.7% );

  /* Set the background size and repeat properties. */
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  padding-bottom: 3%;
  opacity: .93;
}

<<<<<<< HEAD
.main-description {
  font-size: 1.45rem;
  color: var(--grey);
}
=======
.main_description {
  font-size: 1.45rem;
  color: #6e6d6d;
}

>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a


/*************** Home Section2 prologue ***************/

<<<<<<< HEAD
/*************** Home Section2 prologue ***************/
.section-title {
padding: 5% 0 3%;
color: var(--green_light);
}

.prologue-container {
  display: flex;
  justify-content: center;
  padding: 5% 0;
  background-color: #fff;
  color: #000;
  opacity: .9;
  margin: 0 0 10%;
  border-left: 8px solid var(--green_light);
}

.prologue-title {
  padding: 2rem 0 1rem;
}

.prologue-ul {
  padding-left: 25%;
  font-size: 1.1rem;
  text-align: left;
}

.prologue1 {
 grid-template-rows: 2fr 1fr 1fr 4fr;
 padding: 5%;
}

.prologue2 {
   grid-template-rows: 2fr 1fr 1fr 4fr;
   padding: 5%;
}

.prologe-img {
  max-height: 20rem;
  max-width: 100%;
}

.course-link {
  font-size: .9rem;
  color: #fff;
}

.udemy {
  background: var(--beige_dark);
}

.coursera {
  background: var(--green_dark);
=======

.prologue {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #000;
  opacity: .9;
  margin: 0 .3%;
  border-left: 8px solid #d9e4dd;
}

.prologue_title {
  padding: 2rem 0 1rem;
}

.prologue_ul {
  padding-left: 25%;
  font-size: 1.1rem;
  text-align: left;
}

.prologue_1 {
 grid-template-rows: 2fr 1fr 1fr 4fr;
 padding: 5%;
}

.prologue_2 {
   grid-template-rows: 2fr 1fr 1fr 4fr;
   padding: 5%;
}

.prologe_img {
  max-height: 20rem;
  max-width: 100%;

}

.course_link {
  font-size: .9rem;
  color: #fff;
}

.udemy {
  background: #aa8976
;
}

.coursera {
  background: #adeecf;
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
}

/*************** Home Section3 Blog ***************/

#home-blog {
  margin: 0 1.4%;
  padding: 3% 0 15%;
}

<<<<<<< HEAD
=======
.home-toptitle {
  padding: 23% 0 3%;
  color: #bdd2b6;
}


>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
.home-blog-title {
  color: var(--black_light);
}

.home-blog-content {
  padding: 3% 5%;
  font-size: .9rem;
  }

.home-readmore-btn {
  padding: 5% 0;
  font-size: .6.5rem;
}


.card-box {
  background-color: var(--grey_light);
  position: inherit;
  border: 1px solid #fff;
<<<<<<< HEAD
  border-left: 8px solid var(--green_light);
=======
  border-left: 8px solid #d9e4dd;
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
  opacity: .85;
  padding: 5% 2%;
}

.card-box:hover {
  background: var(--green_light);
  transform: scale(1.02);
}

.btn:hover {
  transform: scale(1.1);
<<<<<<< HEAD
  color: var(--grey);
=======
  color: #6e6d6d;
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
}




/************** Work Page ***************/


.work {
  padding: 25% 10%;
}

.work1 {
  background-color: #214151;
}

.work2 {
  background-color: var(--green_light);
}




/*************** Lab Page ***************/





/*************** Blog page ***************/

.blog-post {
  padding: 0 5% 100% 2%;
}

.blog-title {
  padding: 5% 0 0;
  border-top: dotted 4px var(--grey_light);
}

.blog-content {
  padding: 0 0 20%;
}

.blog-sidebar {
  position: fixed;
  top: 12%;
  right: 6%;
}

.profile {
  padding: 0 0 10%;
}

.profile-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.blog-category {
  padding: 10% 0 0;
}

.pagination {
  padding: 7% 0 0;
  position: absolute;
  padding: 0 0 5%;
}



/**** Post Page *****/

.post-title {
  font-size: 2.5rem;
}

/**** Compose Page *****/

.form-group {
  padding: 0 0 2%;
}


/***** Footer Section *****/

footer {
  padding: 0 0 2%;
  background-color: default;
  position: relative;
}

.footer-text {
  color: #6e6d6d;
  font-size: .9rem;
}

.local-scroll {
  text-align: right;
  font-size: 1.5rem;
  padding: 0 3% 0 0;
  color: var(--grey_light);
}

.local-scroll:hover {
<<<<<<< HEAD
  color: var(--black_light);
=======
  color: #262626;
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
}




/* responsive */
<<<<<<< HEAD
@media screen and (max-width: 768px) {

.main-header {
  padding-top: 35%;
}

.main-title {
  font-size: 7.5rem;
}

.main-description {
  font-size: 1rem;
}

.blog-sidebar {
  display: none;
=======
@media (max-width: 1024px) {


@media (max-width: 768px) {


.main_header {
  font-size: 5.5rem;
}

.main_description {
  font-size: 1rem;
}

.blog-sidebar {
  display: none;
}

>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
}
}



<<<<<<< HEAD
=======

>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
/*************** Custom Cursor ***************/

/* .cursor {
  width: 10px;
  height: 10px;
<<<<<<< HEAD
  border: 5px solid var(--beige_dark);
=======
  border: 5px solid #aa8976;
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
  z-index: 10;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.5);
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
<<<<<<< HEAD
  border: 5px solid var(--black_light);
=======
  border: 5px solid #262626;
>>>>>>> 72277e7301b0031844de7582201b3011b1533d1a
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
} */
